/* skewed header*/
.skewed-header{
    position:relative;
    height:400px;
    overflow:hidden;
}

.skewed-header > .header-bg{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    height:100%;
    width:100%;
    background-repeat:no-repeat ;
    background-size: 100%;
    transform:skewy(-3deg); /*le da una recorte a las esquinas de la imagen*/
    transform-origin: top left ; /*trasforma o arregla la iamgen */
    filter:brightness(55%);
}

.skewed-header >.skewed-header-wrappers{
    position:absolute;
    display:flex;
    justify-content:center;
    width:100vw;
}

.skewed-header >.skewed-header-wrappers > .skewed-header-content{
   width:1000px;
   display:flex;
   justify-content:space-between;
   align-items:center;
}

.skewed-header > .skewed-header-wrappers > .skewed-header-content > .heading-wrappers{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width:175px;
    padding: 10px;
    text-align: center;
}

